@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
 body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
   
  }
  #noscrollbar::-webkit-scrollbar  {
    display: none;
    }
  *>* {
    font-family: 'Heebo', sans-serif;
  }
  